<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BpmPath" value="C:\Apps\LINQ_7152_QA_MSSQL"/>
		<add key="BpmPath.KHREBTOFF" value="c:\apps\studio_7152"/>
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Terrasoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.15.2.65535" newVersion="7.15.2.501" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Terrasoft.Core" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.15.2.65535" newVersion="7.15.2.501" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>